@import "tailwindcss";

@theme {
    --breakpoint-sm: 350px;
    --breakpoint-md: 768px;
    --breakpoint-bp-840: 840px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1920px;
    --breakpoint-2xl: 2560px;
    --breakpoint-3xl: 3440px;

    --color-azulEscurao: #0F1C53;
    --color-azulEscuro: #0C1363;
    --color-anil: #8184AC;
    --color-golden: #C9A24D;
    --color-amarelinho: #E4CD83;
    --color-creme: #F3EACF;
    --color-brancoGelo: #F5F5F5;
}

@theme inline {
    --font-montserrat: var(--font-montserrat), system-ui, sans-serif;
    --font-anticdidone: var(--font-anticdidone), Georgia, serif;
}


